*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.parent{
    height: 100vh;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}
.child1{
    background-color: rgb(214, 125, 24);
    grid-column: 1/4;
    grid-row: 1;
}
.child2{
    background-color: orangered;
    grid-column:2/4;
    grid-row:2;

}
.child3{
    background-color: rgb(5, 112, 14);
}
.child4{
    background-color: rgb(17, 90, 56);
    grid-column:1/4;
}