*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-weight: bold;
    margin: 10px;
    text-align: center ;
}
.container{
    height: 100vh;
    width:100vw;
    text-align: center;
}
.btn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .3rem 1rem;
    font-size: 1rem;
    border-radius: .3rem;
}
#inputField{
    height : 30px;
    width: 300px;
    margin-left: 5%;
    padding: 10px;
}
#resultContainer{
    font-size: x-large;
    padding: 0.5rem;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 40%;
}
